ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(245, 245, 255);
    transition-duration: 0.4s;
  }
  
  li {
    float: right;
    border-left: 1px solid rgb(145, 17, 231);
    transition-duration: 0.4s;
  }
  
  li a {
    font-size: 20px;
    display: block;
    color: rgb(103, 52, 170);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.4s;
  }
  li a:hover {
    background-color: rgb(0, 207, 235);
    color: white;
    transition-duration: 0.4s;
  }
  li:last-child {
    border-left: none;
  }
  .active {
    background-color: rgb(14, 108, 250);
    color: whitesmoke;
  }